{{define "top"}}
{{/* ctrl + shift +p > change language mode > html */}}
{{/* html 的tag不需要重複定義，所以在其他的xxx.tmpl中，會看到如果在base有定義過，在其他tmpl就無需再寫一次 */}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
{{end}}

{{define "bottom"}}
</body>
</html>
{{end}}