{{template "top" .}}
<title>預約訂單表格</title>
</head>
<body class="bg-gradient-to-br from-amber-50 via-orange-50 to-rose-50 min-h-screen">
{{/* page container */}}
<div class="flex item-center justify-center p-6 md:p-8"> 
	{{/* form container */}}
	<div class="bg-white/80 backdrop-blur-sm p-8 md:p-10 rounded-3xl shadow-xl border border-white max-w-2xl w-full">
	{{/* tracking-tight: 紧凑的文本 */}}
		<h1 class="text-4xl font-bold text-gray-900 mb-8 text-center tracking-tight">預約訂單填寫表</h1>
		{{/* the url it's should be submit to */}}
		<form action="/new-order" method="POST" class="space-y-6">
			<div class="space-y-5">
				<h2 class="text-xl font-semibold text-gray-800 mb-4">玩家資訊</h2>
				<div>
					<label class="block text-gray-700 text-sm font-medium mb-2" for="name">玩家暱稱</label>
					<input class="w-full p-2 border-transparent rounded-xl focus:outline-none focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 transition-all" type="text" name="name" id="name" required minlength="2" maxlength="100"/>
				</div>
				<div>
					<label class="block text-gray-700 text-sm font-medium mb-2" for="phone" >聯繫方式</label>
					<input class="w-full p-2 border-transparent rounded-xl focus:outline-none focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 transition-all" type="text" name="phone" id="phone" required maxlength="20" placeholder="例如 Discord ID : lettuce06881"/>
				</div>
				<div>
					<label class="block text-gray-700 text-sm font-medium mb-2" for="address">伺服器</label>
					<input class="w-full p-2 border-transparent rounded-xl focus:outline-none focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 transition-all" type="text" name="address" id="address" required minlength="5" maxlength="200"/>
				</div>
			</div>
			<div class="space-y-5">
				<div class="flex justify-between items-center">
					<h2 class="text-xl font-semibold text-gray-800">訂單資訊</h2>
					<button type="button" onclick="addOrder()" class="px-2 py-4 text-sm font-medium text-emerald-600 hover:text-emerald-700 border border-emerald-300 rounded-xl hover:bg-emerald-50 active:scale-95 transition-all">新增<button>
				</div>
				<div id="pizzas" class="space-y-4">
					<!-- 預期在這邊加入element， 情境: 添加pizza時，添加後的 pizza 清單會出現在這: Pizza #N(數量) remove，以及他對應的大小..等UI，而這個UI就是先前預先製作的版型template -->
					<!-- 
					<template id="pizzaTemplate"> // clone的時候這整段會被加進來
						// 第一個 pizza UI
						// 刪除的時候下面 pizza-item dom 會被刪除
						<div class="pizza-item border border-gray-200 rounded-2xl p-5 bg-gray-50/50">
							<div class="flex ">
								<h3 class="text-lg">Pizza # <span class="order-number"> 每次新增 pizza 前面的序列後會自動遞增 </span>
								</h3>
							</div>
						</div>

						// 第二個 pizza UI
						// 刪除的時候下面 pizza-item dom 會被刪除
						<div class="pizza-item ">
							<div class="flex ">
								<h3 class="text-lg">Pizza # <span class="order-number"> 每次移除，會需要重新計算 pizza 前面的序列編號 </span>
								</h3>
							</div>
						</div>
					</template> 
				    -->
				</div>
			</div>
			<button type="submit" class="w-full bg-emerald-500 text-white font-semibold py-3 px-3 rounded-xl hover:bg-emerald-600 active:scale-[0.99] transition-all shadow-emerald-500/30">Place Order</button>
		</form>
	</div>
</div>
<!-- add pizza will clone this template -->
<template id="pizzaTemplate">
	<div class="pizza-item border border-gray-200 rounded-2xl p-5 bg-gray-50/50">
		<div class="flex justify-between items-center mb-4">
			<h3 class="text-lg font-semibold text-gray-800">#
				<span class="order-number"></span>
			</h3>
			<button type="button" onclick="removeOrder(this)" class="text-red-500 hover:text-red-700 font-medium text-sm transistion-colors">
				移除
			</button>
		</div>
		<div class="space-y-4">
			<div>
				<label class="block text-gray-700 text-sm font-medium mb-2">數量</label>
				<!-- $ => want to access root data -->
				<select name="size" required class="w-full p-2 border border-gray-200 rounded-xl focus:outline-none focus:ring-emrald-400 focus:border-transparent transition-all bg-white">{{range $.PizzaSizes}}<option value="{{.}}">{{.}}</option>{{end}}</select>
			</div>

			<div>
				<label class="block text-gray-700 text-sm font-medium mb-2">種類</label>
				<select name="pizza" required class="w-full p-2 border border-gray-200 rounded-xl focus:outline-none focus:ring-emrald-400 focus:border-transparent transition-all bg-white">{{range $.PizzaTypes}}<option value="{{.}}">{{.}}</option>{{end}}</select>
			</div>

			<div>
				 <label class="block text-gray-700 text-sm font-meidum mb-2">備註</label>
                <textarea maxlength="200" name="instructions" rows="2" class="w-full px-4 py-3 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-emerald-400 focus-border-transparent transition-all resize-none" placeholder="數量填寫零售的玩家請在備註欄位告知實際需要的數量...未告知者該筆訂單會自動略過"></textarea>
			</div>
		</div>
	</div>
</template>

<script>
	let pizzaCount = 0;
	
	function addOrder() {
		const clone = document.getElementById("pizzaTemplate").content.cloneNode(true);
		clone.querySelector(".order-number").textContent = ++pizzaCount;
		document.getElementById("pizzas").appendChild(clone);
	}

	function removeOrder(btn){
		const pizza = btn.closest(".pizza-item").remove(); // 抓出與當前dom最靠近的 pizza-item，將其移除，就能把剛才新增的pizza內容UI給從畫面中刪掉，做到清除dom的效果
		
		document.querySelectorAll(".pizza-item").forEach((item,index)=>{
			item.querySelector(".order-number").textContent = index + 1
		})

		// 計算出刪除後，目前的添加了多少pizzas
		pizzaCount = document.querySelectorAll(".pizza-item").length;
	}

	addOrder();



</script>
{{template "bottom" .}}
